:root{
    --container-width: 75px;
    --container-height: 75px;
}

.drag-container p{
    /* Extra */
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Original */
    border-radius: 100px;
    width: var(--container-width);
    height: var(--container-height);
    position: absolute;
    top: calc(50% - var(--container-height) / 2);
    left: calc(50% - var(--container-width) / 2);
}

.drag-container .drag-area {
    /* Extra */
    display: flex;
    justify-content: center;
    
    /* Original */
    opacity: 0.2;
    background: blue;
    position:sticky;
    border-radius: 30px;
    right: 0;
  }
  